html{
    /*font-size: 100px;*/
    font-size: 26.66666666666667vw;
}
body{
    font-size: 16px;
    background-color: #F5F7F9;
}
.main-c{
    margin: 0 0 0.49rem 0;
}
.main-c .rotation{
    width: 100%;
    display: flex;
    height: 1.01rem;
    padding: 0.05rem 0.18rem 0.1rem;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}
.main-c .rotation li a img{
    margin-right:0.1rem;
    width: 1.5rem;
    height: 0.855rem;
    border-radius: 0.06rem;
}
.main-c .tag{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 0.55rem;
    padding-left: 0.18rem;
    background-color: #fff;
    margin-bottom: 0;
}
.main-c .tag li a{
    background-color: #94BFBB;
    margin-right: 0.08rem;
    border-radius: 0.04rem;
    padding: 0.07rem 0.1rem;
    display: inline-block;
}
.main-c div div.tag li a span{
    color: #FFFFFF;
    font-size: 0.15rem;
    line-height: 0.21rem;
    text-align: center;
}

.main-c div div .main .publish{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 0.08rem;
    padding: 0 0.18rem;
}
.main-c div div .main .publish .title{
    display: flex;
    justify-content: flex-start;
    width: 3.45rem;
    height: 0.44rem;
    margin-top: 0.1rem;
}
.main-c div div .main .publish .title>img{
    width: 0.38rem;
    height: 0.38rem;
    border-radius: 50%;
    border:1px solid #ccc;
}
.main-c div div .main .publish .title>div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 0.1rem;
}
.main-c div div .main .publish .title>div i{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 0.13rem;
    height: 0.2rem;
    line-height: 0.2rem;
    color: #4A4945;
}
.main-c div div .main .publish .title>div i img{
    width: 0.4rem;
    height: 0.4rem;
    margin-right: 0.05rem;
}
.main-c div div .main .publish .title>div p{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.main-c div div .main .publish .title>div p span{
    font-size: 0.12rem;
    height: 0.2rem;
    line-height: 0.2rem;
    color: #999999;
    margin-right: 0.1rem;
}
.main-c div div .main .publish .text{
    display: flex;
    margin: 0.1rem 0 0.11rem;
    text-align: left;
    max-height: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
}
.main-c div div .main .publish .text span{
    font-size: 0.14rem;
    line-height: 0.2rem;
    display: inline-block;
    color: #498DD0;
}
.main-c div div .main .publish .text p{
    font-size: 0.14rem;
    color: #4A4945;
    line-height: 0.2rem;
    letter-spacing: 0.005rem;
}
.main-c div div .main .publish .pic{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.main-c div div .main .publish .pic img{
    width: 32%;
    /* height: 32%; */
    margin: 0.1rem 0.02rem;
}
.zan{
    display: flex;
    align-items: center;
    width: 3.4rem;
    height: 0.3rem;
    padding-top: 0.05rem;
    background-color: #fff;
    margin: 0.04rem 0 0;
    border-top:1px solid #ccc;
}
.zan li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1.1498rem;
    height: 0.2rem;
    border-right:1px solid #ccc;
}
.zan li:last-child{
    border-right: none;
}
.zan li img{
    width: 0.19rem;
    height: 0.19rem;
}
.zan li span{
    font-size: 0.12rem;
    color: #999999;
    height: 0.2rem;
    line-height: 0.2rem;
    margin-left: 0.05rem;
}
.spc{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* margin-bottom: 0.2rem; */
    border-bottom: 0.1rem solid #F5F7F9;
    
}
.spc .title{
    display: flex;
    justify-content: flex-start;
    width: 3.45rem;
    height: 0.44rem;
    margin: 0.1rem 0.15rem;
}
.spc .title>img{
    width: 0.38rem;
    height: 0.38rem;
    border-radius: 50%;
    border:1px solid #ccc;
}
.spc .title>div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 0.44rem;
    padding-left: 0.1rem;
}
.spc .title>div i{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 0.13rem;
    height: 0.2rem;
    line-height: 0.2rem;
    color: #4A4945;
}
.spc .title>div i img{
    width: 0.4rem;
    height: 0.4rem;
    margin-top: -0.1rem;
    margin-right: 0.05rem;
}
.spc .title>div p span{
    font-size: 0.12rem;
    height: 0.2rem;
    line-height: 0.2rem;
    color: #999999;
    margin-right: 0.1rem;
}



.show{
    text-align: left;
    margin: 0.10rem 0.15rem;
}
.show .product {
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    flex-wrap: wrap;
}
.show .product img{
    width: 32%;
    margin: 0.1rem 0.02rem;
}
.show .copy{
    background-color: #F5F7F9;
}
.show .copy h4{
    font-size: 0.18rem;
    font-weight: bold;
    color: #4A4945;
    line-height: 0.25rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.show .copy p{
    font-size: 0.14rem;
    color: #999999;
    line-height: 0.20rem;
    letter-spacing: 0.5px;
}
.show>p{
    font-size: 0.14rem;
    color: #4A4945;
    line-height: 0.2rem;
}
.show p span{
    color: #498DD0;
    margin-right: 0.05rem;
}
.cen .zan{
    margin: 0.10rem 0.15rem;
}
input {
    text-align: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0.15rem;
    margin: 0.15rem;
    padding: 0.08rem 0.15rem;
    font-size: 0.12rem;
    color: #999;
}