*{
    box-sizing:border-box;
}
html{
    font-size: 26.6666666666667vw;
    
}
body{
    font-size: 16px; 
    touch-action: none; 
}
header{
    width: 3.75rem;
    height:0.44rem;
    position:fixed;
    left:0px;
    top:0px;
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:0 0.18rem;
    background-color:#fff;
    z-index:999;
}
header>div{
    width:2.49rem;
    height:0.35rem;
    box-sizing:border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 0.04rem;
    padding: 0 0.1rem;
    background:#F5F7F9;
}
header span>img{
    width:0.179rem;
    height:0.179rem;
}
header span:nth-of-type(2){
    font-size: 12px;
    color:#999;
    width:2.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left:0.13rem;
}
header .title{
    width:0.27rem;
    height:0.27rem;
    margin:0.095rem 0;
}
nav{
    width: 3.75rem;
    height:0.86rem;
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top:0.44rem;
    padding:0 0.23rem ;
    background-color:#fff;
}
nav figure img{
    width:0.45rem;
    height: 0.45rem;
}
nav figure{
    margin: 0 !important;
}
nav figcaption{
    font-size:0.12rem;
    color: #4A4945;
    margin-top:0.05rem;
    line-height:0.16rem;
}
.content{
    width: 3.75rem;
    /* background: #999; */
    background-color:#fff;
    padding:0 0 0.2rem 0;

}
.content .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:0 0.15rem;
    padding:0.25rem 0.15rem 0.1rem;
}
.content .top h2{
    font-size: 0.17rem;
    color:#313131;
    font-weight: bold;
}
.content .top a{
    font-size:0.14rem;
    color:#999;
}
.content ul{
    padding:0 0.15rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom:0.2rem;
}
.content ul li{
    margin-right:0.1rem;
    margin-bottom:0.1rem;
}
.content ul li img{
    width: 1.6rem;
    height: 2.25rem;
}
.content ul li div{
    width: 1.6rem;
    height: 0.14rem;
    color:#4A4945;
    font-size:0.15rem;
    font-weight: bold;
    line-height: 0.2rem;
    text-align: left;
    /* overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: normal; */

}
footer{
    width: 3.75rem;
    height:0.69rem;
    padding:0.1rem 0.2rem;
    background:#F5F7F9;
    margin-bottom:0.49rem;
    border-bottom:1px solid #eee;
}
footer p img{
    float:left;
    width: 0.2rem;
    height: 0.2rem;
    margin-right:6px;
   
}
footer p{
    text-align: left;
    font-size:13px;
    line-height:0.25rem;
    color:#939393;  
}


