.xx{
	width: 100%;
	/* display: flex;
	flex-wrap: wrap; */
}
.cx-war {
	float: left;
	margin: 0 0 0 0.12rem;
	overflow: hidden;
	position: relative;
}

.cx-war-listwar {
	width: 1.62rem;
	height: 3.05rem;
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
	padding-bottom: 0.24rem;
	box-sizing: border-box;
	margin-right: 0.11rem;
}

.cx-war-listwar-c1 {
	width: 100%;
	margin: 0 !important;
	display: inline-block;
}

.cx-war-listwar-c2 {
	width: 1.62rem !important;
	height: 2.25rem !important;
	position: relative;
	overflow: hidden;
	font-size: 0;
}

.cx-war-listwar-c2-img {
	width: 100%;
	border-radius: 0.04rem;
}

.cx-war-listwar-c2-img-lv{
	position: absolute;
	    left: 0px;
	    bottom: 0.085rem;
	    z-index: 3;
	    margin: 0 0.10rem;
	    padding: 0.02rem 0.05rem;
	    box-sizing: border-box;
	    max-width: 1.40rem;
	    border-radius: 0.04rem;
	    background-color: #fff;
	    color: #4A4945;
	    line-height: 0.15rem;
	    font-size: 0.11rem;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
}

.cx-war-listwar-c2-img-title {
	margin-top: 0.05rem;
	color: #4A4945;
	font-weight: bold;
	font-size: 0.15rem;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	word-break: break-all;
	text-overflow: ellipsis;
	white-space: normal;
	width: 1.62rem;
	height: 0.425rem;
}
